* {
    box-sizing: border-box;
}

label input, label select, label textarea {
    display: block;
}


body {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1.5fr;

    font-family: "Noto Serif", serif;

}

h2 {
    margin: 8px 0 32px 0;

    font-size: 18px;

    color: #553B1B;

    font-weight: normal;
}


label:not(input+label) {
    color: #998C81;

    font-family: "Noto Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

input[type="text"],
select {
    height: 44px; 
}

input:not([type="radio"]),
select,
textarea,
.toogle {

    border: 12px solid transparent;

    border-image: url(img/corner.png) 12;

    font-family: "Noto Serif", serif;
    font-size: 16px;
    color: #553B1B;

    background: #FFF;

}


label[for="name"],
#name {
    width: 100%;
}

textarea {
    min-width: 100%;
    resize: none;
    padding-top: 48px;
}


small {
    color: #A7A7A7;

    text-align: center;
    font-family: "Noto Serif";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.image {
    min-width: 124px;
    max-width: 124px;
    height: 106px;

    background: url(img/add-img.svg) no-repeat;
    background-color: #FFF;
    background-position: center;


    border: 12px solid transparent;

    border-image: url(img/corner.png) 12;

    
}



.toogle {
    display: flex;
    width: fit-content;
    gap: 8px;
}


.toogle > input[type="radio"] {
    display: none;
}

.toogle > input[type="radio"] + label {
    padding: 1px 8px;
}

.toogle > input[type="radio"]:checked + label {
    background-color: #EAD7C6;
}


.wrap-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: end;

    max-width: 100%;

}



input#cost,
input#power,
input#defense {
    max-width: 90px;
    padding-left: 30px;

    background-position: left center;
}

input#cost { background: url(/img/cost.png) no-repeat #fff; }

input#power { background: url(/img/power.png) no-repeat #fff; }

input#defense { background: url(/img/defense.png) no-repeat #fff; }


.richtext, 
.text-style,
.simbols {
    display: flex;
    flex-direction: row;
    gap: 12px;
}


.richtext {
    position:absolute;
    top: 32px;
    left: 0;
    right: 0;

    width: 96%;
    margin: auto;

    align-items: center;
    justify-content: space-between;

    padding: 8px;

    background-color: #EAD7C6;

    border: 1px solid #CEB9A7;

    border-radius: 2px;
}

label:has(.richtext) {
    position: relative;
}

.text-style .bold,
.text-style .italic {
    display: inline-block;
    width: 24px;
    height: 24px;


    border: 1px solid #C6AE99;
    border-radius: 2px;

    text-align: center;
    font-size: 16px;
    color: #584E46;
}

.text-style .italic {
    font-style: italic;
}
                                    




.create {

    background-color: #FFF6EF;
    min-height: 100vh;

    padding: 24px;

    .wrap {
        position: relative;
        padding: 3px;
        border: 1px solid rgba(135, 51, 40, 0.20);

        min-height: 100%;

        .subwrap {
            padding: 24px;
            border: 1px solid rgba(135, 51, 40, 0.20);

            min-height: 100%;

            overflow-y: scroll;

        }

        .graphics {
            position: absolute;

            width: 16px;
            height: 16px;

            border: 1px solid rgba(135, 51, 40, 0.20); 
        }

        .graphics::after {
            position: absolute;
            top: 3px;
            left: 3px;
            
            content: " ";
            display: block;

            width: 6px;
            height: 6px;

            border: 1px solid rgba(135, 51, 40, 0.20);
        }

        .graphics-topleft {
            top: -12px;
            left: -12px;
        }

        .graphics-topright {
            top: -12px;
            right: -12px;
        }

        .graphics-bottomleft {
            bottom: -12px;
            left: -12px;
            
        }

        .graphics-bottomright {
            bottom: -12px;
            right: -12px;
        }

    

        

    }

   
    

}

.preview {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.preview small {
    position: absolute;
    left: 0;
    bottom: 16px;

    display: block;
    width: 100%;
    text-align: center;
}

.btn.btn-link,
.btn.btn-download {
    width: 40px;
    height: 40px;

    position: absolute;
    right: 40px;
    top: 40px;
}

.btn.btn-link {
    right: 96px;
}






.card-preview {
    position: absolute;
    display: block;
    width: 336px;
    height: 470px;

    border-radius: 17px;
    background: #FFF;

    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.20);



    img {
        width: 100%;
        height: auto;
    }



}