* {
    box-sizing: border-box;
}

label input, label select, label textarea {
    display: block;
}


:focus {
    outline: 1px solid #785325;
}


body {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1.5fr;

    font-family: "Noto Serif", serif;

}

h2 {
    margin: 8px 0 32px 0;

    font-size: 18px;

    color: #553B1B;

    font-weight: normal;
}


label:not(input+label) {
    color: #998C81;

    font-family: "Noto Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

input[type="text"],
select {
    height: 44px; 
}

input:not([type="radio"]),
select,
textarea,
.toogle,
.edit-card,
.view-card {

    border: 12px solid transparent;

    border-image: url(img/corner.png) 12;

    font-family: "Noto Serif", serif;
    font-size: 16px;
    color: #553B1B;

    background: #FFF;

}


.edit-card,
.view-card {
    display: none;
    background-color: #EAD7C6;
    text-decoration: none;

    font-weight: bold;
    color: #873328;
}



label[for="name"],
#name {
    width: 100%;
}

textarea {
    min-width: 100%;
    resize: none;
    padding-top: 48px;
}


small {
    padding: 0 8px;

    color: #A7A7A7;

    text-align: center;
    font-family: "Noto Serif";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.image {
    min-width: 124px;
    max-width: 124px;
    height: 106px;

    background: url(img/add-img.svg) no-repeat;
    background-color: #FFF;
    background-position: center;


    border: 12px solid transparent;

    border-image: url(img/corner.png) 12;

    
}



.toogle {
    display: flex;
    width: fit-content;
    gap: 8px;
}


.toogle > input[type="radio"] {
    display: none;
}

.toogle > input[type="radio"] + label {
    padding: 1px 8px;
}

.toogle > input[type="radio"]:checked + label {
    background-color: #EAD7C6;
}


.wrap-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: end;

    max-width: 100%;

}

.full-width label {
    flex-grow: 1;
}

.full-width label select {
    width: 100%;
}




input#cost,
input#power,
input#defense {
    max-width: 90px;
    padding-left: 30px;

    background-position: left center;
    background-color: #fff;
    background-repeat: no-repeat;
}

input#cost { background-image: url(/img/cost.png); }

input#power { background-image: url(/img/power.png); }

input#defense { background-image: url(/img/defense.png); }


.richtext, 
.text-style,
.simbols {
    display: flex;
    flex-direction: row;
    gap: 12px;
}


.richtext {
    position:absolute;
    top: 32px;
    left: 0;
    right: 0;

    width: 96%;
    margin: auto;

    align-items: center;
    justify-content: space-between;

    padding: 8px;

    background-color: #EAD7C6;

    border: 1px solid #CEB9A7;

    border-radius: 2px;
}

label:has(.richtext) {
    position: relative;
}

.text-style .bold,
.text-style .italic {
    display: inline-block;
    width: 24px;
    height: 24px;


    border: 1px solid #C6AE99;
    border-radius: 2px;

    text-align: center;
    font-size: 16px;
    color: #584E46;
}

.text-style .italic {
    font-style: italic;
}
                                    




.create {

    background-color: #FFF6EF;
    min-height: 100vh;

    padding: 24px;

    .wrap {
        position: relative;
        padding: 3px;
        border: 1px solid rgba(135, 51, 40, 0.20);

        height: 100%;

        .subwrap {
            padding: 24px;
            border: 1px solid rgba(135, 51, 40, 0.20);

            height: 100%;

            overflow-y: scroll;

        }

        .graphics {
            position: absolute;

            width: 16px;
            height: 16px;

            border: 1px solid rgba(135, 51, 40, 0.20); 
        }

        .graphics::after {
            position: absolute;
            top: 3px;
            left: 3px;
            
            content: " ";
            display: block;

            width: 6px;
            height: 6px;

            border: 1px solid rgba(135, 51, 40, 0.20);
        }

        .graphics-topleft {
            top: -12px;
            left: -12px;
        }

        .graphics-topright {
            top: -12px;
            right: -12px;
        }

        .graphics-bottomleft {
            bottom: -12px;
            left: -12px;
            
        }

        .graphics-bottomright {
            bottom: -12px;
            right: -12px;
        }

    

        

    }

   
    

}

.preview {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.preview small {
    position: absolute;
    left: 0;
    bottom: 16px;

    display: block;
    width: 100%;
    text-align: center;
}

.btng-group {
    position: absolute;
    right: 40px;
    top: 40px;
    left: 0;

    display: flex;
    width: 100%;
    padding: 0 40px;
    justify-content: flex-end;
}

.btns-action {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btn.btn-link,
.btn.btn-download {
    width: 40px;
    height: 40px; 
}

.card-preview {
    position: absolute;
    display: block;
    width: 336px;
    height: 470px;

    border-radius: 17px;
    background: #FFF;

    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.20);



    img {
        max-width: 100%;
        height: auto;
    }



}


.card-content {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;

    padding: 24px;
}

.card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding-top: 8px;
    
}

.card-name {
    width: 100%;
    padding-left: 20px;
    text-align: center;

}

.card-cost {
    padding-right: 12px;
    margin-top: -2px;

}

.card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    margin-top: 240px;
    padding: 0 16px;
    
}


.card-footer  {
    position: absolute;
    left: 0;
    bottom: 24px;

    display: flex;
    width: 100%;
    justify-content: space-between;

    padding: 0 52px;

    
   
}

.card-power,
.card-defense {
    width: 24px;
    text-align: center;
} 

.card-type {
    max-width: 180px;
    margin-top: -7px;

    font-size: 14px;
    vertical-align: middle;
    text-align: center;    
}


.card-illustration {
    position: absolute;
    top: 54px;
    left: 0;



    width: 100%;
    height: 240px;

    background-color: white;
    background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size:20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

    

}

.card-preview img {
    position: absolute;

    z-index: 2;
}


.card-details {
    display: flex;
    gap: 24px;

    padding-top: 29px;
    padding-left: 58px;

    font-size: 10px;
    font-weight: normal;

    color: #D2D2D2;
}

.card-rarity {
    font-size: 9px;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: #545454;
    text-align: center;
    vertical-align: middle;
}


@media screen and (max-width: 1023px) {
    
    body {
        display: block;
    } 

    .wrap-row {
        flex-direction: column;
        align-items: normal;
    }

    .create {
        height: 200px;
        min-height: 200px;
    }

    .create .wrap .subwrap {
        padding: 12px;
        overflow: hidden;
    }

    .create .logo {
        display: block;
        margin: 0 auto;
    }

    .create h2 {
        text-align: center;
        margin-bottom: 100px;
    }


    .preview {
        height: auto;
        padding-bottom: 0;
        gap: 32px;
    }

    .btng-group {
        justify-content: space-between;
        position: fixed;
        top: auto;
        bottom: 16px;
        left: 0;
        right: 0;
        padding: 0 16px;
    }

    .edit-card {
        display: block;
    }

    .card-preview {
        position: relative;
        margin-top: -64px;
    }

    .preview small {
        position: static;
        font-size: 10px;
    }




    // Modifiers on mobile edition

    .mobile-edit {
        height: 100vh;
        overflow: hidden;
    }

    .mobile-edit .create {
        height: 100vh;
        overflow: hidden;
    }

    .mobile-edit .btng-group {
        display: none;
    }

    .mobile-edit .card-preview {
        margin-top: 0;
    }

    .mobile-edit .create h2 {
      
        margin-bottom: 32px;
    }

    .mobile-edit .create .subwrap {
        overflow-y: scroll;
        padding-bottom: 64px;
    }


    .mobile-edit .view-card {
        display: block;
        position: fixed;
        bottom: 16px;
        left: 16px;
        right: 16px;
        text-align: center;
    }






}


@media screen and (max-width: 680px) {
    .card-preview {
        transform: scale(.9);
        margin-top: -90px;
    }

    .preview small {
        margin-top: -40px;
    }
}

@media screen and (max-width: 390px) {
    .card-preview {
        transform: scale(.8);
        margin-top: -110px;
    }

    .preview small {
        margin-top: -60px;
    }
}
